// FOOTER
footer.m_footer
  .wrapper
    .logo
      a(href="#").db-link
    .center
      nav
        ul
          li: a(href="#") Индивидуалки
          li: a(href="#") Массажистики
          li: a(href="#") Салоны
          li: a(href="#") Статьи
          li: a(href="#") Подбор анкет
          li: a(href="#") Форум
      .latest-articles
        .title: b Последние статьи:
        ul
          li: a(href="#") Считатется ли секс с путаной за измену?
          li: a(href="#") Фут трамплинг: Что это такое и с чем его едят?
          li: a(href="#") Какая фантазия  для мужчин самая популярная?
    .copyright
      span © Все пaрава защищены. <br>Копирование материалов запрещено