.m_footer
  position absolute
  bottom 0
  width 100%
  background #161616
  color $base-text-light
  @media MD
    padding-top 25px
  a
    color $base-text-light
    &:hover
      color #fff
      text-decoration underline
  ul
    li
      position relative
      padding-left 15px
      &:after
        size(5px)
        content ''
        position absolute
        left 0
        top 8px
        border-radius 50%
        background #ff3333
      a
        display inline-block
        vertical-align middle
        padding 4px 0
  .logo
    overflow hidden
    width 275px
    height 93px
    margin 0 auto
    background #1d1d1d
    border-radius 0 0 $radius $radius
    @media MD
      position absolute
      left 15px
      top -25px
    @media screen and (min-width: 1250px)
      left -6px
    a
      background url("../images/footer-logo.png") no-repeat 50%
  .copyright
    display block
    margin-top 35px
    text-align center
    @media MD
      position absolute
      right 15px
      top 0
      margin-top 0
      text-align right
  .center
    @media MD
      clearfix()
      padding 0 300px
    nav,
    .latest-articles
      display none
      @media MD
        display block
    nav
      @media MD
        float left
        width 30%
    .latest-articles
      @media MD
        float left
        width 70%
        padding-left 10%
      @media LG
        padding-left 2%
      .title
        margin-bottom 10px
      a
        text-decoration underline




