.m_subway-list
  .wrapper
    .title Выберите станцию метро:
    ul
      li: a(href="#") Авиамоторная
      li: a(href="#") Автозаводская
      li: a(href="#") Академическая
      li: a(href="#") Александровский сад
      li: a(href="#") Алексеевская
      li: a(href="#") Алма-Атинская
      li: a(href="#") Алтуфьево
      li: a(href="#") Аннино
      li: a(href="#") Арбатская
      li: a(href="#") Аэропорт
      li: a(href="#") Бабушкинская
      li: a(href="#") Багратионовская
      li: a(href="#") Баррикадная
      li: a(href="#") Бауманская
      li: a(href="#") Беговая
      li: a(href="#") Белорусская
      li: a(href="#") Беляево
      li: a(href="#") Бибирево
      li: a(href="#") Библиотека имени Ленина
      li: a(href="#") Битцевский парк
      li: a(href="#") Борисово
      li: a(href="#") Боровицкая
      li: a(href="#") Ботанический сад
      li: a(href="#") Братиславская
      li: a(href="#") Бульвар адмирала Ушакова
      li: a(href="#") Бульвар Дмитрия Донского
      li: a(href="#") Бунинская аллея
      li: a(href="#") Варшавская
      li: a(href="#") ВДНХ
      li: a(href="#") Владыкино
      li: a(href="#") Водный стадион
      li: a(href="#") Войковская
      li: a(href="#") Волгоградский проспект
      li: a(href="#") Волжская
      li: a(href="#") Волоколамская
      li: a(href="#") Воробьевы горы
      li: a(href="#") Выставочная
      li: a(href="#") Выхино
      li: a(href="#") Деловой центр
      li: a(href="#") Динамо
      li: a(href="#") Дмитровская
      li: a(href="#") Добрынинская
      li: a(href="#") Домодедовская
      li: a(href="#") Достоевская
      li: a(href="#") Дубровка
      li: a(href="#") Жулебино
      li: a(href="#") Зябликово
      li: a(href="#") Измайловская
      li: a(href="#") Калужская
      li: a(href="#") Кантемировская
      li: a(href="#") Каховская
      li: a(href="#") Каширская
      li: a(href="#") Киевская
      li: a(href="#") Китай-город
      li: a(href="#") Кожуховская
      li: a(href="#") Коломенская
      li: a(href="#") Комсомольская
      li: a(href="#") Коньково
      li: a(href="#") Красногвардейская
      li: a(href="#") Краснопресненская
      li: a(href="#") Красносельская
      li: a(href="#") Красные ворота
      li: a(href="#") Крестьянская застава
      li: a(href="#") Кропоткинская
      li: a(href="#") Крылатское
      li: a(href="#") Кузнецкий мост
      li: a(href="#") Кузьминки
      li: a(href="#") Кунцевская
      li: a(href="#") Курская
      li: a(href="#") Кутузовская
      li: a(href="#") Ленинский проспект
      li: a(href="#") Лермонтовский проспект
      li: a(href="#") Лесопарковая
      li: a(href="#") Лубянка
      li: a(href="#") Люблино
      li: a(href="#") Марксистская
      li: a(href="#") Марьина роща
      li: a(href="#") Марьино
      li: a(href="#") Маяковская
      li: a(href="#") Медведково
      li: a(href="#") Международная
      li: a(href="#") Менделеевская
      li: a(href="#") Митино
      li: a(href="#") Молодежная
      li: a(href="#") Мякинино
      li: a(href="#") Нагатинская
      li: a(href="#") Нагорная
      li: a(href="#") Нахимовский проспект
      li: a(href="#") Новогиреево
      li: a(href="#") Новокосино
      li: a(href="#") Новокузнецкая
      li: a(href="#") Новослободская
      li: a(href="#") Новоясеневская
      li: a(href="#") Новые Черемушки
      li: a(href="#") Октябрьская
      li: a(href="#") Октябрьское поле
      li: a(href="#") Орехово
      li: a(href="#") Отрадное
      li: a(href="#") Охотный ряд
      li: a(href="#") Павелецкая
      li: a(href="#") Парк культуры
      li: a(href="#") Парк Победы
      li: a(href="#") Партизанская
      li: a(href="#") Первомайская
      li: a(href="#") Перово
      li: a(href="#") Петровско-Разумовская
      li: a(href="#") Печатники
      li: a(href="#") Пионерская
      li: a(href="#") Планерная
      li: a(href="#") Площадь Ильича
      li: a(href="#") Площадь Революции
      li: a(href="#") Полежаевская
      li: a(href="#") Полянка
      li: a(href="#") Пражская
      li: a(href="#") Преображенская площадь
      li: a(href="#") Пролетарская
      li: a(href="#") Проспект Вернадского
      li: a(href="#") Проспект Мира
      li: a(href="#") Профсоюзная
      li: a(href="#") Пушкинская
      li: a(href="#") Пятницкое шоссе
      li: a(href="#") Речной вокзал
      li: a(href="#") Рижская
      li: a(href="#") Римская
      li: a(href="#") Рязанский проспект
      li: a(href="#") Савеловская
      li: a(href="#") Свиблово
      li: a(href="#") Севастопольская
      li: a(href="#") Семеновская
      li: a(href="#") Серпуховская
      li: a(href="#") Славянский бульвар
      li: a(href="#") Смоленская
      li: a(href="#") Сокол
      li: a(href="#") Сокольники
      li: a(href="#") Спартак
      li: a(href="#") Спортивная
      li: a(href="#") Сретенский бульвар
      li: a(href="#") Строгино
      li: a(href="#") Студенческая
      li: a(href="#") Сухаревская
      li: a(href="#") Сходненская
      li: a(href="#") Таганская
      li: a(href="#") Тверская
      li: a(href="#") Театральная
      li: a(href="#") Текстильщики
      li: a(href="#") Теплый Стан
      li: a(href="#") Тимирязевская
      li: a(href="#") Третьяковская
      li: a(href="#") Трубная
      li: a(href="#") Тульская
      li: a(href="#") Тургеневская
      li: a(href="#") Тушинская
      li: a(href="#") Улица 1905 года
      li: a(href="#") Улица Академика Янгеля
      li: a(href="#") Улица Горчакова
      li: a(href="#") Улица Подбельского
      li: a(href="#") Улица Скобелевская
      li: a(href="#") Улица Старокачаловская
      li: a(href="#") Университет
      li: a(href="#") Филевский парк
      li: a(href="#") Фили
      li: a(href="#") Фрунзенская
      li: a(href="#") Царицыно
      li: a(href="#") Цветной бульвар
      li: a(href="#") Черкизовская
      li: a(href="#") Чертановская
      li: a(href="#") Чеховская
      li: a(href="#") Чистые пруды
      li: a(href="#") Чкаловская
      li: a(href="#") Шаболовская
      li: a(href="#") Шипиловская
      li: a(href="#") Шоссе Энтузиастов
      li: a(href="#") Щелковская
      li: a(href="#") Щукинская
      li: a(href="#") Электрозаводская
      li: a(href="#") Юго-Западная
      li: a(href="#") Южная
      li: a(href="#") Ясенево