.m_paginations
  text-align center
  cursor default
  margin-bottom 20px
  margin-top 30px
  @media screen and (min-width: 568px)
    margin-top 0
  ul, li, a
    display inline-block
    vertical-align middle
  a, span
    font-size 16px
    font-weight 700
    color #000
    min-width 26px
    height 26px
    line-height 26px
    border-radius $radius
  a:hover
    color $base-color
  li.current a
    background $base-color
    color #fff
  li:last-child a
    text-decoration underline
    margin-left 10px
    &:hover
      color $base-color