/*!=========================
      Base grid styles
==========================*/
html
  position relative
  min-height 100%
body
  font-family 'Open Sans', sans-serif
  font-size 14px
  line-height 1.4
  color $base-text-dark
  background #fff
  margin-bottom $footer + 30
  background url("../images/background.png") repeat 0 0
  @media screen and (min-width: 768px) and (max-width: 992px)
    margin-bottom 400px
  html.no-touchevents &
    background-attachment fixed
footer
  height $footer
  @media screen and (min-width: 768px) and (max-width: 992px)
    height 370px
.container,
.wrapper
  clearfix()
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
.wrapper
  position relative
.container
  aside.m_partnership
    display none
    @media LG
      display block
      float right
      width 20%
      padding-left 15px
    & + main
      @media LG
        float left
        width 80%
  aside.m_sidebar
    @media LG
      float left
      width 20%
      padding-right 15px
    & + main
      @media LG
        float left
        width 80%
  aside.m_sidebar
    @media LG
      float left
      width 20%
      padding-right 15px
      &.large
        width 24%
        & + aside.m_partnership + main
          width 56%
    & + aside.m_partnership
      display none
      @media LG
        display block
        float right
        width 20%
        padding-left 15px
      & + main
        @media LG
          float left
          width 60%

  .full-section
    @media LG
      float left
      width 100%
      padding 70px 0
.background-layout
  trs(opacity)
  left 0
  top 0
  width 100%
  height 100%
  background rgba(0,0,0,.8)
  z-index 200
  opacity 0
  position static
  &.open
    position fixed
    opacity 1
  &.zindex-large
    z-index 350

.grid-row
  clearfix()
  margin-bottom 30px
  &:last-child
    margin-bottom 0
.grid-column
  margin-bottom 30px
  &:last-child
    margin-bottom 0
  @media SM
    float left
    width 48.5%
    margin-bottom 0
    &:nth-child(even)
      margin-left 3%
    &:last-child
      margin-bottom 0
