/*!=========================
      Base grid styles
==========================*/
html
  position relative
  min-height 100%
body
  font-family 'Open Sans', sans-serif
  font-size 14px
  line-height 1.4
  color #000
  background #fff
  margin-bottom $footer + 30
  background url("../images/background.png") repeat 0 0
  html.no-touchevents &
    background-attachment fixed
footer
  height $footer
.container,
.wrapper
  clearfix()
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
.wrapper
  position relative
.container
  aside
    @media LG
      float left
      width 20%
      padding-right 15px
    & + main
      @media LG
        float left
        width 80%
  .full-section
    @media LG
      float left
      width 100%
      padding 70px 0
.background-layout
  trs(opacity)
  left 0
  top 0
  width 100%
  height 100%
  background rgba(0,0,0,.8)
  z-index 200
  opacity 0
  position static
  &.open
    position fixed
    opacity 1
  &.zindex-large
    z-index 350