h1, h2, h3, h4, h5
  font-style italic
  line-height 1
  padding 10px 0
  margin-bottom 20px
h1
  font-weight 600
h2, h3, h4, h5
  font-weight 700
h1
  font-size 30px
h2
  font-size 20px
.page-title
  font-size 30px
  line-height 1
  text-transform uppercase
  color #000

.section-title
  semibold()
  clearfix()
  position relative
  padding-bottom 30px
  font-style italic
  font-size 30px
  &.medium
    font-size 24px
    padding-bottom 15px
  &.small
    font-size 20px
    padding 15px 0
  &.bold
    bold()
    font-size 16px
    padding-bottom 10px
    @media screen and (min-width: 568px)
      font-size 18px
  &.border
    border-bottom 1px solid $border
  .btn-lead
    display block
    margin-top 10px
    @media screen and (min-width: 768px)
      margin-top 0
      float right
      width 210px
a
  color $link
  &:hover
    color $base-color

.sum
  bold()
  color $base-color
  & + .currency
    bold()
    color $base-text-dark

.highlight
  bold()
  color $base-color

.paragraph
  padding-top 15px
  &.large
    font-size 18px
  &.center
    text-align center

.remark
  font-size 13px
  color #999
  font-style italic
  &.mt-n
    margin-top -15px
    @media screen and (min-width: 568px)
      margin-top 0

article
  a
    text-decoration underline
  img
    width 100%
    height auto
    @media screen and (min-width: 568px)
      float left
      max-width 50%
      margin-right 15px
    & + ul
      margin-bottom 30px
      li
        position relative
        padding-left 15px
        margin-bottom 5px
        &:after
          display none
        &:last-child
          margin-bottom 0
        span:after
          content ''
          width 7px
          height 7px
          background $base-color
          transform rotate(45deg)
          position absolute
          left 0
          top 8px
      a
        position relative
        text-decoration none
        padding-left 15px
        span
          border-bottom 1px dashed
          &:hover
            color #333
            border-bottom 1px solid
  ul
    li
      position relative
      padding-left 15px
      margin-bottom 5px
      &:last-child
        margin-bottom 0
      &:after
        content ''
        width 7px
        height 7px
        background $base-color
        transform rotate(45deg)
        position absolute
        left 0
        top 8px
  ol
    li
      counter-increment step-counter
      margin-bottom 15px
      &:before
        content: counter(step-counter);
        margin-right: 5px;
        margin-bottom 4px
        font-size: 80%;
        background-color: $base-color;
        color: white;
        font-weight: bold;
        padding: 3px 8px;
  p
    margin-top 0
  h2, h3
    semibold()
    margin 20px 0 10px 0
  h2
    font-size 24px
  h3
    font-size 18px

