$footer = 205px
$wrapper = 1210px


$radius = 3px

$base-text = #666
$base-text-dark = #333
$base-text-light = #ccc
$base-heading = #333

$base-color = #cc0000
$base-color-second = #810000

$button = #990000

$link = #006699

$base-bg = #fff

$border-input = #dbdbdb

$border = #dadada


// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"