extends ../modules/layout/layout.jade

block title
  title Статьи

block breadcrumbs
  -
    var breadcrumbs = [
      {link: 'Все проститутки Москвы'},
      {link: 'Статьи'}
    ]
  include ../modules/breadcrumbs/m_breadcrumbs

block content
  h1 Статьи
  // Partnership banners
  aside.m_partnership
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+1")
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+2")
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+3")
  // Content
  main
    .m_articles
      .item.l-bg
        .image: a(href="#"): img(src="http://placehold.it/210x150?text=1")
        .desc
          .post-date 30.05.16
          .title: a(href="#") Повседневная практика показывает
          .paragraph Красотки Краснодара - это настоящий клад для искушенных мужчин, которые любят страстный секс без обязательств. Для этих девушек важно лишь только желание мужчины и материальное вознаграждение. Им не нужны подарки, забота, внимание, для них интересен лишь страстный, долгий секс с проявлением самых мощных эмоций. Бурное окончание станет для них едва ли не самой лучшей наградой, поскольку они будут точно знать, что все их усилия не пропали даром.
      .item.l-bg
        .image: a(href="#"): img(src="http://placehold.it/210x150?text=2")
        .desc
          .post-date 30.05.16
          .title: a(href="#") Можно ли считать секс с проституткой за измену
          .paragraph Красотки Краснодара - это настоящий клад для искушенных мужчин, которые любят страстный секс без обязательств. Для этих девушек важно лишь только желание мужчины и материальное вознаграждение. Им не нужны подарки, забота, внимание, для них интересен лишь страстный, долгий секс с проявлением самых мощных эмоций. Бурное окончание станет для них едва ли не самой лучшей наградой, поскольку они будут точно знать, что все их усилия не пропали даром.
      .item.l-bg
        .image: a(href="#"): img(src="http://placehold.it/210x150?text=3")
        .desc
          .post-date 30.05.16
          .title: a(href="#") Что такое эскорт услуги, работа для девушек и парней в Киеве
          .paragraph Красотки Краснодара - это настоящий клад для искушенных мужчин, которые любят страстный секс без обязательств. Для этих девушек важно лишь только желание мужчины и материальное вознаграждение. Им не нужны подарки, забота, внимание, для них интересен лишь страстный, долгий секс с проявлением самых мощных эмоций. Бурное окончание станет для них едва ли не самой лучшей наградой, поскольку они будут точно знать, что все их усилия не пропали даром.
      .item.l-bg
        .image: a(href="#"): img(src="http://placehold.it/210x150?text=4")
        .desc
          .title: a(href="#") Эротические игры или как соблазнить девушку с помощью тантры?
          .paragraph Красотки Краснодара - это настоящий клад для искушенных мужчин, которые любят страстный секс без обязательств. Для этих девушек важно лишь только желание мужчины и материальное вознаграждение. Им не нужны подарки, забота, внимание, для них интересен лишь страстный, долгий секс с проявлением самых мощных эмоций. Бурное окончание станет для них едва ли не самой лучшей наградой, поскольку они будут точно знать, что все их усилия не пропали даром.
    include ../modules/paginations/m_paginations