extends ../modules/layout/layout.jade

block title
  title Форум

block breadcrumbs
  -
    var breadcrumbs = [
      {link: 'Все проститутки Москвы'},
      {link: 'Форум'}
    ]
  include ../modules/breadcrumbs/m_breadcrumbs

block content
  h1 Интим-форум
  .post-theme
    a(class="btn-lead" href="#") Создать тему
  // Partnership banners
  aside.m_partnership
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+1")
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+2")
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+3")
  // Content
  main
    .m_forum.l-bg
      table
        tr
          th Темы
          th Автор
          th Ответов
        tr
          td: a(href="#") КРАСИВАЯ УХОЖЕННАЯ. РЕАЛЬНАЯ ИНДИ
          td Аноним
          td 3
        tr
          td: a(href="#") Студентка. Анал, мбр. Не салон.
          td Аноним
          td 3
        tr
          td: a(href="#") Парень без тормозов
          td Аноним
          td 3
        tr
          td: a(href="#") МЕДИЦИНСКИЙ СПИРТ
          td Аноним
          td 3
        tr
          td: a(href="#") MЕДИЦИНСКИЙ СПИРТ
          td Аноним
          td 3
        tr
          td: a(href="#") БДСМ
          td Аноним
          td 3
        tr
          td: a(href="#") нужен миньет на войковской за м.п.
          td Аноним
          td 3
        tr
          td: a(href="#") Приглашает на ночную пикантную программку Не салон!Недорого!Также в программе доминация,
          td Аноним
          td 3
        tr
          td: a(href="#") скучаю составь компанию на ночь
          td Аноним
          td 3
        tr
          td: a(href="#") Ищу фею в г. Дмитров (м/о)
            td Аноним
          td 3
        tr
          td: a(href="#") АЗИАТКА
          td Аноним
          td 3
        tr
          td: a(href="#") Мальчики уникальное предложение!!!оБОЖАЮ АНАЛ
          td Аноним
          td 3
        tr
          td: a(href="#") МИНЕТ
          td Аноним
          td 3
        tr
          td: a(href="#") вирт 300 896204-910-04
          td Аноним
          td 3
        tr
          td: a(href="#") самая сочная попка..на кутузовсом..
          td Аноним
          td 3
        tr
          td: a(href="#") лизун
          td Аноним
          td 3
        tr
          td: a(href="#") ЯРКАЯ ЭФФЕКТНАЯ УХОЖЕННАЯ.ИНДИ 100%
          td Аноним
          td 3
        tr
          td: a(href="#") нужен миньет на войковской за м.п.
          td Аноним
          td 3
        tr
          td: a(href="#") Зделаю куни даме..
          td Аноним
          td 3
        tr
          td: a(href="#") Сделаю минет!! 800р
          td Аноним
          td 3
        tr
          td: a(href="#") Ночь приглошу не дорого не салон
          td Аноним
          td 3
        tr
          td: a(href="#") Сделайте минет в авто в Подольске
          td Аноним
          td 3
        tr
          td: a(href="#") МИНЕТ ОТ НАС МЫ ПАРА БИ
          td Аноним
          td 3
        tr
          td: a(href="#") Сделайте минет или нужна класика
          td Аноним
          td 3
        tr
          td: a(href="#") вирт 300р 89620491004
          td Аноним
          td 3
        tr
          td: a(href="#") Реально кончаю от анала..ЗАО
          td Аноним
          td 3
        tr
          td: a(href="#") Приглошу на ночь 6000+вино и фрукты
          td Аноним
          td 3
        tr
          td: a(href="#") ПРИГЛОШУ НА НОЧЬ ИЛИ 1 ЧАС 2 ЧАСА
          td Аноним
          td 3
        tr
          td: a(href="#") Мальчики уникальное предложение!!!
          td Аноним
          td 3
        tr
          td: a(href="#") Салоны эротического массажа в Москве
          td Аноним
          td 3
        tr
          td: a(href="#") Приеду к девушке на минет и куни
          td Аноним
          td 3
        tr
          td: a(href="#") Приглашаем девушек...
          td Аноним
          td 3
        tr
          td: a(href="#") МЖ ишем М для встреч МЖМ
          td Аноним
          td 3
        tr
          td: a(href="#") нужен миньет на войковской за м.п.
          td Аноним
          td 3
        tr
          td: a(href="#") Приглашает на ночную пикантную программку
          td Аноним
          td 3
      include ../modules/paginations/m_paginations