extends ../modules/layout/layout.jade

block title
  title Подбор анкет

block breadcrumbs
  -
    var breadcrumbs = [
      {link: 'Все проститутки Москвы'},
      {link: 'Подбор анкет'}
    ]
  include ../modules/breadcrumbs/m_breadcrumbs

block content
  // Partnership banners
  aside.m_partnership
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+1")
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+2")
    a(href="#"): img(src="http://placehold.it/221x300?text=Ads+3")
  // Content
  main
    h1 Подбор анкет
    .m_profile-add
      form.default-form.full-width
        .grid-row
          .services.l-bg
            .section-title.bold.border Услуги
            .row
              .grid-column
                .grid-column
                  .sex
                    .section-title.bold Секс
                    ul
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Секс
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Секс классический
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Секс анальный
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Секс групповой
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Секс лесбийский
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Услуги семейной паре
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Минет в презервативе
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Минет без резинки
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Минет глубокий
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Минет в машине
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Куннилингус
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Игрушки
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Окончание на грудь
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Окончание на лицо
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Окончание в рот
                .grid-column
                  .massage
                    .section-title.bold Массаж
                    ul
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Массаж классический
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Массаж профессиональный
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Массаж расслабляющий
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Массаж тайский
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Массаж урологический
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Массаж точечный
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Массаж эротический
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Массаж ветка сакуры
                  <br>
                  .tease
                    .section-title.bold Стриптиз
                    ul
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Стриптиз профи
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Стриптиз не профи
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Лесби откровенное
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Лесби-шоу легкое
              .grid-column
                .grid-column
                  .extreme
                    .section-title.bold Экстрим
                    ul
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Страпон
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Анилингус делаю
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Золотой дождь выдача
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Золотой дождь прием
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Копро выдача
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Фистинг анальный
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Фистинг классический
                  <br>
                  .misc
                    .section-title.bold Разное
                    ul
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label ролевые игры
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Фото/видео съемка
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Эксорт
                .grid-column
                  .dominations
                    .section-title.bold Садо-мазо
                    ul
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Бондаж
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Госпожа
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Рабыня
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Игры
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Легкая доминация
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Порка
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Фетиш
                      li
                        label.checkbox
                          input(type="checkbox" name="profile-services")
                          span.check-icon
                          span.check-label Трамплинг
        .grid-row
          .grid-column
            .params.l-bg
              .section-title.bold.border Параметры
              .row
                label
                  span.label Возраст:
                  .input.columns
                    .column
                      span.inp-col-label от
                      input.text(type="text" placeholder="")
                    .column
                      span.inp-col-label до
                      input.text(type="text" placeholder="")
              .row
                label
                  span.label Рост:
                  .input.columns
                    .column
                      span.inp-col-label от
                      input.text(type="text" placeholder="")
                    .column
                      span.inp-col-label до
                      input.text(type="text" placeholder="")
              .row
                label
                  span.label Вес:
                  .input.columns
                    .column
                      span.inp-col-label от
                      input.text(type="text" placeholder="")
                    .column
                      span.inp-col-label до
                      input.text(type="text" placeholder="")
              .row
                label
                  span.label Грудь:
                  .input.columns
                    .column
                      span.inp-col-label от
                      input.text(type="text" placeholder="")
                    .column
                      span.inp-col-label до
                      input.text(type="text" placeholder="")
              .row
                label
                  span.label Отзывов:
                  .input.columns
                    .column
                      span.inp-col-label от
                      input.text(type="text" placeholder="")
              br
          .grid-column
            .rates.l-bg
              .section-title.bold.border Цены
              .row
                label
                  span.label 1 час:
                  .input.columns
                    .column
                      span.inp-col-label от
                      input.text(type="text" placeholder="")
                    .column
                      span.inp-col-label до
                      input.text(type="text" placeholder="")
              .row
                label
                  span.label 2 часа:
                  .input.columns
                    .column
                      span.inp-col-label от
                      input.text(type="text" placeholder="")
                    .column
                      span.inp-col-label до
                      input.text(type="text" placeholder="")
              .row
                label
                  span.label Ночь:
                  .input.columns
                    .column
                      span.inp-col-label от
                      input.text(type="text" placeholder="")
                    .column
                      span.inp-col-label до
                      input.text(type="text" placeholder="")
            .about.l-bg
              .section-title.bold.border Место
              .row
                .radios
                  .column
                    label(class="radio-custom")
                      input(name="profile-lead-image" type="radio")
                      span(class="radio-icon")
                      span(class="radio-label") Неважно
                  .column
                    label(class="radio-custom")
                      input(name="profile-lead-image" type="radio")
                      span(class="radio-icon")
                      span(class="radio-label") Выезд
                  .column
                    label(class="radio-custom")
                      input(name="profile-lead-image" type="radio")
                      span(class="radio-icon")
                      span(class="radio-label") Аппартаменты
        .grid-row
          .grid-column
            .subway.l-bg
              .section-title.bold.border Метро
              .row
                label
                  span.label Выберите:
                  div.input
                    select(name="profile-search-subway" style="width: 100%")
                      option(disabled="disabled" selected="selected") Неважно
                      option(value="1") Станция 1
                      option(value="2") Станция 2
                      option(value="3") Станция 3
                      option(value="4") Станция 4
                      option(value="5") Станция 5
                      option(value="6") Станция 6
              br
          .grid-column
            .recently.l-bg
              .section-title.bold.border Новизна
              .row
                label
                  span.label Выберите:
                  div.input
                    select(name="profile-search-recently" style="width: 100%")
                      option(disabled="disabled" selected="selected") Неважно
                      option(value="1") За месяц
                      option(value="2") За 2 недели
                      option(value="3") За неделю
                      option(value="4") За 3 дня
              .row
                .grid-row
                  .grid-column
                    label.checkbox
                      input(type="checkbox" name="profile-search-gallery")
                      span.check-icon
                      span.check-label Показать галерею
                  .grid-column
                    label.checkbox
                      input(type="checkbox" name="profile-search-checked")
                      span.check-icon
                      span.check-label Только проверенные
        .grid-row
          button(type="submit").btn-lead.medium.center.submit Поиск
