.categories
  .section-title.small Секс
  ul
    li: a(href="#") Секс классический
    li: a(href="#") Секс анальный
    li: a(href="#") Секс групповой
    li: a(href="#") Секс лесбийский
    li: a(href="#") Услуги семейной паре
    li: a(href="#") Минет в презервативе
    li: a(href="#") Минет без резинки
    li: a(href="#") Минет глубокий
    li: a(href="#") Минет в машине
    li: a(href="#") Куннилингус
    li: a(href="#") Игрушки
    li: a(href="#") Окончание на грудь
    li: a(href="#") Окончание на лицо
    li: a(href="#") Окончание в рот
  .section-title.small Стриптиз
  ul
    li: a(href="#") Стриптиз профи
    li: a(href="#") Стриптиз не профи
    li: a(href="#") Лесби откровенное
    li: a(href="#") Лесби-шоу легкое
  .section-title.small Массаж
  ul
    li: a(href="#") Массаж профессиональный
    li: a(href="#") Массаж расслабляющий
    li: a(href="#") Массаж тайский
    li: a(href="#") Массаж урологический
    li: a(href="#") Массаж точечный
    li: a(href="#") Массаж эротический
    li: a(href="#") Массаж ветка сакуры
  .section-title.small Экстрим
  ul
    li: a(href="#") Страпон
    li: a(href="#") Анилингус делаю
    li: a(href="#") Золотой дождь выдача
    li: a(href="#") Золотой дождь прием
    li: a(href="#") Копро выдача
    li: a(href="#") Фистинг анальный
    li: a(href="#") Фистинг классический
  .section-title.small Садо-мазо
  ul
    li: a(href="#") Бондаж
    li: a(href="#") Госпожа
    li: a(href="#") Рабыня
    li: a(href="#") Игры
    li: a(href="#") Легкая доминация
    li: a(href="#") Порка
    li: a(href="#") Фетиш
    li: a(href="#") Трамплинг
  .section-title.small Разное
  ul
    li: a(href="#") Ролевые игры
    li: a(href="#") Фото/видео съемка
    li: a(href="#") Эскорт