.m_header .signin a .s-icon-signin,
.m_header .lang a:after,
.m_filters .column .select2-container .select2-selection .select2-selection__arrow:after,
.m_girls .item .info .verified:before,
.m_girls .item .info .tel:after,
.m_girls .item .info .subway:after,
.m_girls .item .info .comments:after,
.checkbox input[type="checkbox"] + .check-icon:after,
.m_profiles .profiles-options .cell button.vip:after,
.m_profiles .m_girls .item .vip.actived .vip-status .icon,
.m_profiles .m_girls .item .vip.disabled .vip-status .icon
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)
    background-image url("../images/sprite@2x.png")
    background-size 200px 300px