.m_filters
  anim()
  position absolute
  overflow hidden
  left 0
  top 0
  width 100%
  background $base-color-second
  border-top 1px solid $base-color-second - 25%
  padding 15px
  transform translateY(-200%)
  @media SM
    transform translateY(0%)
    position static
    background none
    border-top none
    padding 30px 0 0 0
  &.open
    transform translateY(0%)
  .column
    margin-bottom 15px
    @media SM
      position relative
      float left
      width 33.333%
      padding-left 4px
      padding-right 4px
    @media MD
      width 18%
      &:last-child
        width 10%
    .btn-lead
      @media SM
        background $button
        &:hover
          background $button - 15%
  form
    @media SM
      width 100%
    @media MD
      padding-right 170px
  .advanced-search
    semibold()
    text-align center
    font-size 16px
    @media SM
      regular()
      position absolute
      right 4px
      top 0
      font-size 14px
      line-height 24px
    @media MD
      top 50%
      margin-top -9px
      right 0
    &:before
      @media SM
        bold()
        content '+'
        display inline-block
        vertical-align middle
        height 24px
        font-size 24px
        line-height 24px
        color $base-color
    a
      color #fff
      @media SM
        display inline-block
        vertical-align middle
        line-height 24px
        color #666
        text-decoration underline
      &:hover
        text-decoration underline
        @media SM
          color $base-color

