.m_vip-carousel
  .wrapper
    -
      var vip = [
        { image: "girls/1.jpg", name: 'Лиза', age: '24' },
        { image: "girls/2.jpg", name: 'Лика', age: '19' },
        { image: "girls/3.jpg", name: 'Селена', age: '24' },
        { image: "girls/4.jpg", name: 'Маринка', age: '21' },
        { image: "girls/5.jpg", name: 'Маринка', age: '25' },
        { image: "girls/6.jpg", name: 'Любава', age: '24' },
        { image: "girls/7.jpg", name: 'Ульяна', age: '27' },
        { image: "girls/9.jpg", name: 'Дениз', age: '22' }
      ]
    .vip-carousel
      -each post in vip
        .item
          .image: a(href="#" style="background-image: url('#{post.image}')").url-image.db-link
          .desc: a(href="#") <b>#{post.name}</b> #{post.age}